<div *ngIf="request" class="component p-4">
    <section class="heading d-flex justify-content-between align-items-center">
        <div class="heading d-flex align-items-center">
            <span class="fw-bold fst-italic">[{{ title }}]</span>
            <a style="padding-left: 20px;" routerLink="/request-list">Return to List</a>
        </div>
        <span style="margin: 10px;" class="fw-bold fst-italic">Hello, {{loggedInUser}}</span>
    </section>
    <br>
    <table *ngIf="request" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Description</th>
                <th>Status</th>
                <th>Total</th>
                <th *ngIf="request.status == 'REJECTED'">Reason for rejection</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ request.user.firstName+" "+request.user.lastName }}</td>
                <td>{{ request.description }}</td>
                <td>{{ request.status}}</td>
                <td>{{ request.total | currency}}</td>
                <td *ngIf="request.status == 'REJECTED'">{{ request.reasonForRejection}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <section class="heading d-flex justify-content-between align-items-center">
        <div class="heading d-flex align-items-center">
            <span class="fw-bold fst-italic">[{{ subTitle }}]</span>
            <a style="padding-left: 20px;" routerLink="/line-item-create/{{requestId}}">
                <img width="20" height="20" src="images/add-icon.png" title="Add Line Item" />
            </a>
        </div>
    </section>
    <br>
    <table *ngIf="lineItems" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Line Total</th>
                <th *ngIf="request.status == 'NEW'">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of lineItems">
                <td>{{l.product.vendor.name }}</td>
                <td>{{l.product.name }}</td>
                <td>{{l.quantity }}</td>
                <td>{{l.product.price | currency}} </td>
                <td>{{l.quantity * l.product.price | currency}}</td>
                <td *ngIf="request.status == 'NEW'">
                    <a routerLink="/line-item-edit/{{requestId}}/{{l.id}}">
                        <img src="images/pencil-icon.png" width="20" height="20" title="Edit Line Item" /></a>
                    |
                    <a>
                        <img src="images/delete.jpg" width="20" height="20" title="Delete Line Item"
                            (click)="delete(l.id)" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <span *ngIf="lineItems.length != 0 && request.status == 'NEW' ">
        <button type="submit" class="btn btn-primary mb-2" (click)="submit()">Submit</button>
    </span>
    <span *ngIf="lineItems.length == 0">
        <p class="text-warning">No line items yet. Please create a new one. </p>
    </span>
</div>